*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	display: flex;
	align-items: center;
	padding: 3rem 10rem;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	background: rgba(255, 255, 255, 0.185);
    backdrop-filter: blur(2px);
	height: 0;
	z-index: 99;
  }
  
  nav .logo {
	font-size: 22px;
	color: rgb(0, 0, 0);
	font-weight: bolder;
  }
  
  .nav-links {
	display: flex;
  }
  
  .nav-links li {
	margin: 10px 10px;
  }
  
  .nav-links li a {
	font-size: 16px;
	color: rgb(0, 0, 0);
	bottom: 0;
  }
  
  .nav-links li a:after {
	content: '';
	display: block;
	width: 0;
	height: 1px;
	background: rgb(0, 0, 0);
	transition: width .3s;
  }
  
  .nav-links li a:hover:after {
	width: 100%;
	transition: width .3s;
  }
  
  .burger {
	cursor: pointer;
	display: none;
	z-index: 999;
  }
  
  .burger .line {
	width: 25px;
	height: 2px;
	background: black;
	margin: 5px 0px;
	z-index: 9999;
	transition: all 0.2s ease;
  }

.catalog-title{
	text-align: center;
	padding: 5rem 0rem;
}

.catalog-title h1{
	font-size: 4rem;
	margin-bottom: 10px;
	color: rgb(0, 0, 0);
	font-weight: 600;
}

.catalog-title p{
	font-size: 1.5rem;
	color: rgb(0, 0, 0);
}

.catalog{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.car-type h1{
	text-align: center;
	color: rgb(0, 0, 0);
	font-weight: bold;
}

.car-row{
	display: flex;
	justify-content: center;
}

.car{
	width: 400px;
	margin: 30px;
	background: #494949;
	padding: 4rem 3rem;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: all 0.5s ease;
}

.car:hover{
	transform: translateY(-20px);
}

.car img{
	width: 100%;
	object-fit: cover;
	margin-bottom: 40px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.car h2{
	text-align: center;
	color: white;
	font-size: 2rem;
}

.features{
	display: flex;
	margin-top: 15px;
}

.features p{
	color: white;
	text-align: center;
	margin: 5px;
    padding: 8px;
}

.features p:nth-child(1){
	border-right: 1px solid white;
}

.features p:nth-child(2){
	border-right: 1px solid white;
}

.car a{
	color: white;
	text-align: center;
	margin-top: 50px;
	padding: 9px 30px;
	background: #01ACD6;
	text-decoration: none;
	border-radius: 5px;
	transition: all 0.5s ease;
}

.car a:hover{
	background: white;
	color: #01ACD6;
}

input{
	display: flex;
	justify-content: center;
	text-align: center;
	font: inherit;
	padding: 0.2em 0.5em;
	margin: 0 auto;
  }

.btn {
	letter-spacing: 0.1em;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	margin: 8px auto;
	display: flex;
	justify-content: center;
	background-color: lightcoral;
	max-width: 200px;
	text-decoration: none;
	text-transform: uppercase;
	outline: none;
	border: none;
	width: 100%;
	transition: 0.3s linear;
  }
  .btn:hover{
	text-decoration: none;
	transition: 0.3s all ease;
	outline: none;
	border: none;
	color: white;
	background: rgba(240, 128, 128, 0.836);
  }

  .promo-h1{
	  text-align: center;
	  font-family: 'Raleway';
  }

  .field{
	  width: 20%;
	  border-radius: 5px;
  }

  .dark .nav-links li a, .dark .logo{
	  color: white;
  }