*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
h1{
    text-align: center;
}

.display_none{
  display: none;
}

h2{
  font-family: 'Raleway';
}
  body {
    font-family: 'Raleway';
    background: aliceblue;
  }
  hr{
    border:2px solid black;
  }
  
  .container {
    padding: 2px 16px;
    background-color: #f1f1f1;
    font-family: 'Raleway';
  }
  .containercode{
    color: black;
  }
  .promo {
    background: rgb(0, 0, 0);
    padding: 3px;
  }
  
  .expire {
    color: red;
  }
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
.catagory{
    text-align: center;
    margin:auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    display: inline;
    padding: 10px;
}
.grid-container{
}
.grid-row{
}
@media(max-width:900px){
    .catagory{
        text-align: center;
        margin:auto;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        display: flex;
        padding: 10px;
    }
    .product{
        margin-bottom: 100px;
    }
}
.product{
    display: inline-block;
    font-size: 12px;
    font-family: 'Krub';  
    padding: 20px;
    height: 418px;
    color: white;
    background: #696969;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    width: 300px;
    text-align:center;
}
.product img{
    width: 100%;
}
.buyNowButton{
    border: 2px solid rgba(34, 172, 236, 0.959);
    border-radius: 5px;
    padding: 5px;
    background-color:cornflowerblue;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Raleway';
    transition: all 0.2s;
    margin: 0 auto;
    width: 9%;
    display: flex;
    justify-content: center;
}
.buyNowButton:hover{
    color:white;
    background-color: rgb(28, 146, 224);
    font-family: 'Raleway';
    border: 2px solid rgb(28, 146, 224);
}



#answer{
  margin: 0 auto;
  text-align: center;
}




@media(max-width:900px){
    .logo{
        display: none;
    }
}
::-webkit-scrollbar {
  width: 15px;
  }
  
  ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  background: rgb(65, 65, 65); 
  border-radius: 10px;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
  background: rgb(196, 196, 196); 
  }
  /*** Works on common browsers ***/
  ::selection {
      background-color: #15b2e2;
      color: rgb(0, 0, 0);
  }
  
  /*** Mozilla based browsers ***/
  ::-moz-selection {
    background-color: #15b2e2;
    color: rgb(0, 0, 0);
  }
  
  /***For Other Browsers ***/
  ::-o-selection {
    background-color: #15b2e2;
    color: rgb(0, 0, 0);
  }
  
  ::-ms-selection {
    background-color: #15b2e2;
    color: rgb(0, 0, 0);
  }
  
  /*** For Webkit ***/
  ::-webkit-selection {
    background-color: #15b2e2;
    color: rgb(0, 0, 0);
  }