body {
	background: #FBFAFF;
	background-size: cover;
	font-family: 'Raleway';
	font-size: 14px;
	background-position: 50% 50%;
}

  .switch {
	align-self: flex-end;
	margin: 0.9375rem;
  }
  .inner-switch {
	display: inline-block;
	cursor: pointer;
	border: 1px solid #555;
	border-radius: 1.25rem;
	width: 3.125rem;
	text-align: center;
	font-size: 1rem;
	padding: 0.1875rem;
	margin-left: 0.3125rem;
  }
  .dark * , .dark, .dark .text_field, .dark html, .dark .form_table, .dark body, .dark .contact-box,.dark .wrapper .box .front-face, .dark .wrapper .box .front-face p, .dark .wrapper, .dark .box,.dark .services .dark .container, .dark .about h2, .dark .about p, .dark .container, .dark .wrapper .box .front-face h1{
	background-color: rgb(44, 44, 44);
	  color: white;
  }
  .darkmode{
	position: fixed;
	overflow: hidden;
	/* float: right; */
	z-index: 1;
	right:0px;
	bottom: 0px;
  }
  
.form_table {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	border: 2px solid #E2E2E2;
	background: #FFFFFF;
	background-size: cover;
	color: #575766;
	overflow: hidden;
	box-shadow: none;
	background-position: 50% 50%;
}

.form_table a {
	color: #B39FF9;
}

.outside a {
	color: #B39FF9;
}

.form_table a:visited {
	color: #B39FF9;
}

.outside a:visited {
	color: #B39FF9;
}

.segment_header {
	width: auto;
	margin: 1px;
	color: #FFFFFF;
	background: #605F7D;
	background-size: cover;
	background-repeat: repeat;
	background-position: 50% 50%;
	border-radius: 2px;
}

.segment_header h1 {
	border-radius: 2px;
	padding: 20px 10px;
	font-family: 'Raleway',sans-serif;
}

.q {
	padding: 10px;
	margin-bottom: 15px;
	margin-left: 15px;
	float: left;
	display: block;
}

.q .question {
	font-weight: normal;
}

.q .left_question_first {
	width: 15em;
}

.q .top_question {
	margin-bottom: 15px;
}

.q .text_field {
	background: #FFFFFF;
	border: 1px solid #605F7D;
	border-radius: 2px;
	border-width: 1px;
	color: #575766;
	font-family: 'Raleway',sans-serif;
	font-size: 14px;
	margin: 1px 0;
	padding: 15px;
}

.q .file_upload {
	background: #FFFFFF;
	border: 1px solid #605F7D;
	border-radius: 2px;
	border-width: 1px;
	color: #575766;
	font-family: 'Raleway',sans-serif;
	font-size: 14px;
	margin-top: 1px;
	padding: 15px;
}

.q .file_upload_button {
	margin-top: 2px;
}

.q .inline_grid td {
	padding: 5px;
}

.q .drop_down {
	background: #FFFFFF;
	border: 1px solid #605F7D;
	border-radius: 2px;
	border-width: 1px;
	color: #575766;
	font-family: 'Raleway',sans-serif;
	font-size: 14px;
	margin: 1px 0;
	padding: 14px;
}

.q .matrix th {
	color: #575766;
	background: #EEEEFA;
	padding: 5px;
	font-weight: normal;
}

.q .matrix td {
	padding: 5px;
	border-bottom: 1px solid #D9D8F5;
	border-top: 1px solid #D9D8F5;
}

.q .matrix td.question {
	border-right: 1px solid #D9D8F5;
	font-weight: normal;
}

.q .matrix .multi_scale_sub th {
	font-weight: normal;
	border-top: 1px solid #D9D8F5 !important;
	background: #FFFDFD;
}

.q .matrix .multi_scale_break {
	border-right: 1px solid #D9D8F5;
}

.q .matrix_row_dark td {
	color: #575766;
	background: #FDFDFF;
}

.q .matrix_row_dark td.question {
	color: #575766;
	background: #FDFDFF;
}

.q .matrix_row_light td {
	color: #575766;
	background: #FFFFFF;
}

.q .matrix_row_light td.question {
	color: #575766;
	background: #FFFFFF;
}

.q .rating_ranking td {
	padding: 5px;
}

.q .scroller {
	border: 1px solid #E2E2E2;
}

.highlight {
	background: #F6F6F4 !important;
}

tr.highlight td {
	background: #F6F6F4 !important;
}

.outside {
	color: #B39FF9;
}

.outside_container {
	width: 700px;
	padding: 1em 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #B39FF9;
}

.outside_container .submit_button {
	color: #FFFFFF !important;
	background: #B39FF9;
	background-size: auto;
	border-style: none;
	border-width: 0px;
	border-color: #FFFFFF;
	border-radius: 2px;
	text-align: center;
	font-family: 'Raleway',sans-serif;
	font-size: 18px;
	font-weight: normal;
	min-width: 20%;
	padding: 10px 20px;
	text-transform: none;
	box-shadow: none;
}

.progressBarWrapper {
	border-radius: 4px;
	background: #FFFFFF;
	background-size: cover;
	border-color: #E2E2E2;
}

.progressBarBack {
	color: #FFFFFF;
	background-color: #B39FF9;
}

.progressBarFront {
	color: #575766;
}

.ui-widget {
	font-family: 'Raleway',sans-serif;
}

.invalid {
	background: #FDF1F0;
}

.invalid .invalid_message {
	color: #EC756B;
	background: #FDF1F0;
	border: 1px solid #EC756B;
	border-radius: 2px;
}

.form_table.invalid {
	border: 2px solid #EC756B;
}

.invalid .matrix .invalid_row {
	background: #FDF1F0;
}

.outside_container .submit_button:hover, .outside_container .submit_button:focus {
	background: #A391E2;
	background-size: auto;
	border-color: #BBBBBB;
}

::-webkit-scrollbar {
	width: 15px;
	}
	
	::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
	}
	
	::-webkit-scrollbar-thumb {
	background: rgb(65, 65, 65); 
	border-radius: 10px;
	}
	
	
	::-webkit-scrollbar-thumb:hover {
	background: rgb(196, 196, 196); 
	}
	/*** Works on common browsers ***/
	::selection {
		background-color: #15b2e2;
		color: rgb(0, 0, 0);
	}
	
	/*** Mozilla based browsers ***/
	::-moz-selection {
	  background-color: #15b2e2;
	  color: rgb(0, 0, 0);
	}
	
	/***For Other Browsers ***/
	::-o-selection {
	  background-color: #15b2e2;
	  color: rgb(0, 0, 0);
	}
	
	::-ms-selection {
	  background-color: #15b2e2;
	  color: rgb(0, 0, 0);
	}
	
	/*** For Webkit ***/
	::-webkit-selection {
	  background-color: #15b2e2;
	  color: rgb(0, 0, 0);
	}