* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
  
  #mdiv {
    background-color: var(--exdark);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
  }
  
  .cdiv {
    width: 17rem;
    height: 15rem;
  }
  
  .rot {
    position: absolute;
    width: 21rem;
    height: 21rem;
    border-right: 0.3rem solid #fff;
    border-radius: 50%;
    animation: pre 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  
  @keyframes pre {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .lh {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .lh2 {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .a{
    display: flex;
    justify-content: right;
    align-content: right;
    align-items: right;
    background-color: var(--exdark);
  }