

body {
	font-family: 'Open Sans', sans-serif;
	background:bisque;
}

#plans,#plans ul,#plans ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#pricePlans:after {
	content: '';
	display: table;
	clear: both;
}

#pricePlans {
	zoom: 1;
}

#pricePlans {
	max-width: 69em;
	margin: 0 auto;
}

#pricePlans #plans .plan {
	background: #fff;
	float: left;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	margin: 0 0 20px 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.planContainer .title h2 {
	font-size: 2.125em;
	font-weight: 300;
	color: #3e4f6a;
	margin: 0;
	padding: .6em 0;
}

.planContainer .title h2.bestPlanTitle {
	background: linear-gradient(top, #475975, #364761);
	border-radius: 5px 5px 0 0;
}


.planContainer .price p {
	background: #3e4f6a;
	background: linear-gradient(top, #475975, #364761);
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	height: 2.6em;
	line-height: 2.6em;
	margin: 0 0 1em;
}

.planContainer .price p.bestPlanPrice {
	background: #f7814d;
}

.planContainer .price p span {
	color: #8394ae;
}

.planContainer .options {
	margin-top: 10em;
}

.planContainer .options li {
	font-weight: 700;
	color: #364762;
	line-height: 2.5;
}

.planContainer .options li span {
	font-weight: 400;
	color: #979797;
}

.planContainer .button a {
	text-transform: uppercase;
	text-decoration: none;
	color: #3e4f6a;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 2.8em;
	border: 2px solid #3e4f6a;
	display: inline-block;
	width: 80%;
	height: 2.8em;
	border-radius: 4px;
	margin: 1.5em 0 1.8em;
}

.planContainer .button a.bestPlanButton {
	color: #fff;
	background: #f7814d;
	border: 2px solid #f7814d;
}

#credits {
	text-align: center;
	font-size: .8em;
	font-style: italic;
	color: #777;
}

#credits a {
	color: #333;
}

#credits a:hover {
	text-decoration: none;
}

@media screen and (min-width: 481px) and (max-width: 768px) {

#pricePlans #plans .plan {
	width: 49%;
	margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
	margin-right: 0;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

#pricePlans #plans .plan {
	width: 49%;
	margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
	margin-right: 0;
}

}

@media screen and (min-width: 1025px) {

#pricePlans {
	margin: 2em auto;
}

#pricePlans #plans .plan {
	width: 24%;
	margin: 0 1.33% 20px 0;
 transition: all .25s;
}

#pricePlans #plans > li:last-child {
	margin-right: 0;
}

#pricePlans #plans .plan:hover {
	        transform: scale(1.04);
}

.planContainer .button a {
	        transition: all .25s;
}

.planContainer .button a:hover {
	background: #3e4f6a;
	color: #fff;
}

.planContainer .button a.bestPlanButton:hover {
	background: #ff9c70;
	border: 2px solid #ff9c70;
}

}


  .switch {
    align-self: flex-end;
    margin: 0.9375rem;
  }
  .inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
  }
  .dark, .dark body, .dark *, .dark span, .dark p, .dark .title h2, .dark li .button{
	background-color: rgb(44, 44, 44);
	  color: white;
	  transition: 0.3s all;
  }
  .dark .planContainer .bestPlanTitle h2{
	color:black;
}
.dark li a.button{
  border: 2px solid white;
  color:white;
}
  .darkmode{
	position: fixed;
	overflow: hidden;
	/* float: right; */
	z-index: 1;
	right:0px;
	bottom: 0px;
	transition: 0.3;
	font-family: 'Raleway';
  }
.btn_home{
	text-decoration: none;
	color:rgb(0, 0, 0);
	font-family: 'Raleway', sans-serif;
	border: 2px solid rgb(0, 0, 0);
	margin:0 0.3em 0.3em 0;
	padding: 0.5em 3em;
	display: inline-block;
	transition: 0.3s linear;
}
.btn_home:hover{
	color :#000000;
	transition: 0.5 linear;
	border-color: #000000;
	background:rgb(173, 169, 169);
}
::-webkit-scrollbar {
	width: 15px;
	}
	
	::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
	}
	
	::-webkit-scrollbar-thumb {
	background: rgb(65, 65, 65); 
	border-radius: 10px;
	}
	
	
	::-webkit-scrollbar-thumb:hover {
	background: rgb(196, 196, 196); 
	}
	/*** Works on common browsers ***/
	::selection {
		background-color: #15b2e2;
		color: rgb(0, 0, 0);
	}
	
	/*** Mozilla based browsers ***/
	::-moz-selection {
	  background-color: #15b2e2;
	  color: rgb(0, 0, 0);
	}
	
	/***For Other Browsers ***/
	::-o-selection {
	  background-color: #15b2e2;
	  color: rgb(0, 0, 0);
	}
	
	::-ms-selection {
	  background-color: #15b2e2;
	  color: rgb(0, 0, 0);
	}
	
	/*** For Webkit ***/
	::-webkit-selection {
	  background-color: #15b2e2;
	  color: rgb(0, 0, 0);
	}
