nav {
	display: flex;
	align-items: center;
	padding: 3rem 10%;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	background: rgba(255, 255, 255, 0.185);
    backdrop-filter: blur(2px);
	height: 0;
	z-index: 99;
  }
  
  nav .logo {
	font-size: 29px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
	color: rgb(0, 0, 0);
	font-weight: 600;
  }

  nav .logo a:hover{
    text-decoration: none;
  }

.nav-links {
  display: flex;
  padding-top: 0.7%;
}

.nav-links li {
  margin: 10px 10px;
}

.nav-links li a {
  font-size: 1.15rem;
  letter-spacing: 0.1rem;
  color: rgb(0, 0, 0);
}

.nav-links li a:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: rgb(0, 0, 0);
  transition: width .3s;
}

.nav-links li a:hover:after {
  width: 100%;
  transition: width .3s;
}


.burger {
    cursor: pointer;
    display: none;
    z-index: 999;
  }
  
  .burger .line {
    width: 25px;
    height: 2px;
    background: rgb(0, 0, 0);
    margin: 5px 0px;
    z-index: 9999;
    transition: all 0.2s ease;
  }

  @media screen and (max-width: 1800px) {
    .nav-links li a{
        font-size: 1rem;
    }
}


.sch .nav-links li a {
    color: black;
  }
  
  .sch .logo {
    color: black;
  }
  
  .sch {
    background-color: rgba(218, 213, 213, 0.205);
  }
  
  .sch li a:hover {
    text-decoration: none;
  }
  
  .sch .nav-links li a:after{
    width: 0;
    height: 1px;
    background: rgb(0, 0, 0);
    transition: width .3s;
  }
  .sch .nav-link:hover:after{
    width: 100%;
    transition: width .3s;
  }
  
  .sch2 {
    background-color: white;
  }
  
  .sch .burger .line {
    width: 25px;
    height: 2px;
    background: rgb(0, 0, 0);
    margin: 5px 0px;
    z-index: 9999;
    transition: all 0.2s ease;
  }
    
  .sch nav .logo {
      font-size: 22px;
      color: rgb(0, 0, 0);
      font-weight: 600;
  }