@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);

:root{
  --dark: rgb(44, 44, 44);
  --exdark: rgb(31, 33, 34);
  --blue: #01ACD6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
  transition: 0.5s all;
  font-family: 'Raleway';
}

html{
  overflow-x: hidden;
}

body{
}

nav {
	display: flex;
	align-items: center;
	padding: 2.3rem 10%;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	background: rgba(255, 255, 255, 0.185);
  backdrop-filter: blur(2px);
	height: 0;
	z-index: 99;
  }
  
  nav .logo {
	font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
	color: rgb(0, 0, 0);
	font-weight: 600;
  }

  nav .logo a:hover{
    text-decoration: none;
  }

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.7%;
}

.nav-links li {
  margin: 10px 10px;
}

.nav-links li a {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  color: rgb(0, 0, 0);
}

.nav-links li a:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: rgb(0, 0, 0);
  transition: width .3s;
}

.nav-links li a:hover:after {
  width: 100%;
  transition: width .3s;
}

.burger {
  cursor: pointer;
  display: none;
  z-index: 999;
}

.burger .line {
  width: 25px;
  height: 2px;
  background: black;
  margin: 5px 0px;
  z-index: 9999;
  transition: all 0.2s ease;
}
.title{
	color: rgb(0, 0, 0);
	text-align: center;
  font-size: 4rem;
  margin-bottom: 50px;
}

#newsfeed{
  padding: 7rem 5rem;
}

.update{
	width: 500px;
	min-height: 400px;
	/* overflow-y: auto; */
	background-color: var(--exdark);
  color: aliceblue;
	padding: 35px 25px;
	margin: 20px 30px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.update > *{
	margin-top: 5px;
	margin-bottom: 10px;
}

.updates{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.link li a{
	color: white;
	padding: 0.5rem 0.9rem;
	transition: 0.3s all ease;
}

.link li a:hover{
	text-decoration: underline;
}

footer{
	background: #262626;
	display: flex;
	flex-direction: column;
}

.footer-section{
	padding: 50px 0px;
	width: 60%;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.footer-col{
	margin: 0px 60px;
	color: white;
}

.footer-title{
	margin-bottom: 10px;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.footer-paragraph{
	width: 500px;
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
}

.footer-links li{
	margin: 20px 0px;
}

.footer-links li a{
  color: white;
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
}

.footer-links li a:after {
	content: '';
	display: block;
	width: 0;
	height: 1px;
	background: rgb(255, 255, 255);
	transition: width .3s;
  }
  
  .footer-links li a:hover:after {
	width: 45%;
	transition: width .3s;
  }

.contact-info li{
	margin: 20px 0px;
}

.contact-info li{
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
}

.contact-info li i{
	margin-right: 10px;
}

.social-media{
  display: flex;
  font-size: 15px;
	margin-top: 30px;
}

.social{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: rgb(15, 15, 15);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}

.social:hover{
	transform: scale(1.2);
}

.social-media a:not(:nth-child(1)) .social{
	margin-left: 20px;
}

.copyright-credits{
	padding: 25px 80px;
	background: #313131;
}

.copyright-credits-container{
	width: 60%;
	display: flex;
	justify-content: space-between;
	margin: auto;
	color: white;
}

.copyright-credits-container h3{
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-size: 0.9rem;
}

@media screen and (max-width: 1600px){
  .footer-section{
		width: 100%;
	}

	.copyright-credits-container{
		width: 100%;
	}
}

.dark nav .logo{
	color: white;
  }
  
  .dark .nav-links li a {
	  letter-spacing: 0.1rem;
	  color: rgb(255, 255, 255);
  }

  .dark .title{
	  color: white;
  }


  ::-webkit-scrollbar {
	width: 15px;
  }
  
   ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
  }
  
   ::-webkit-scrollbar-thumb {
	background: rgb(65, 65, 65);
	border-radius: 10px;
  }
  
   ::-webkit-scrollbar-thumb:hover {
	background: rgb(196, 196, 196);
  }
  
  
  /*** Works on common browsers ***/
  
   ::selection {
	background-color: var(--blue);
	color: rgb(0, 0, 0);
  }
  
  
  /*** Mozilla based browsers ***/
  
   ::-moz-selection {
	background-color: var(--blue);
	color: rgb(0, 0, 0);
  }
  
  
  /***For Other Browsers ***/
  
   ::-o-selection {
	background-color: var(--blue);
	color: rgb(0, 0, 0);
  }
  
   ::-ms-selection {
	background-color: var(--blue);
	color: rgb(0, 0, 0);
  }
  
  
  /*** For Webkit ***/
  
   ::-webkit-selection {
	background-color: var(--blue);
	color: rgb(0, 0, 0);
  }