/* you looking here too?? */
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);
@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}
*{
  scroll-behavior: smooth;
}
body {
  font-family: 'Raleway';
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  transition: 0.3s all;
}
.parallax{
  background-attachment: fixed;
  background-size:cover;
  text-align:center;
  min-height:500px;
}
.header{
  background-image: url(header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  width: 100%;
}
 /* .mar{
   margin: 120px;
 } */
hr {
  border: 2px solid #f1f1f1;
  margin-top: -50px;
  width: 180px;
  padding-right: 90px;
}
.memberbtn{
  margin-top: auto;
  background: teal;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  width: 130px;
  border: none;
  height: 30px;
  border-radius: 1rem;
  font-size: 1.4rem;
}

.navbar {
  /* padding: 1rem 1.5rem 1rem 2rem; */
  text-decoration: none;
  z-index: 1;
  background-color: rgba(218, 213, 213, 0.205);
  color: black;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.woo_newbugfix{
  color:black;
}
.sticky + .content {
  padding-top: 60px;
}
.display_none{
  display: none;
}
  .navbar-brand:after{
    content: '';
    display: block;
    width: 0;
    height: 2.7px;
    background: black;
    transition: width .3s;
  }
  .navbar-brand:hover:after{
    width: 100%;
    transition: width .3s;
  }
  .navbar-brand{
    color:black;
  }
  .nav-link:after{
    content: '';
    display: block;
    width: 0;
    height: 2.7px;
    background: #000;
    transition: width .3s;
  }
  .nav-link:hover:after{
    width: 100%;
    transition: width .3s;
  }
  .nav-link{

  }


  .wrapper{
    display: grid;  
    margin: 100px 20px auto;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  }
  .quick{
    margin:0 0.3em 0.3em 0;
    padding: 0.5em 1.6em;
  }
  .button{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
  
    margin:0 0.3em 0.3em 0;
    text-align: center;
    padding: 0.5em 3em;
    
    }
    .button:hover{
      text-decoration: none;
      color:rgb(255, 255, 255);
      font-family: 'Raleway', sans-serif;
      text-align: center;
      
      
      }
  @media (max-width: 700px) {
    .wrapper{
      margin: 200px auto;
    }
  }
  .wrapper .box{
    width: 100%;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
  }
  .wrapper .box .front-face{
    background: #fff;
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
  }
  .box .front-face h1,
  .box .back-face h1{
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .box .back-face{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 220px;
    width: 100%;
    padding: 30px;
    color: #fff;
    opacity: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    background: rgb(44, 44, 44);

    transform: translateY(110px) rotateX(-90deg);
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
  }
  .box .back-face p{
    margin-top: 10px;
    text-align: justify;
  }
  .box:hover .back-face{
    opacity: 1;
    transform: rotateX(0deg);
  }
  .box:hover .front-face{
    opacity: 0;
    transform: translateY(-110px) rotateX(90deg);
  }
  .front-face{
    text-align: center;
  }
  ::-webkit-scrollbar {
    width: 15px;
    }
    
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background: rgb(65, 65, 65); 
    border-radius: 10px;
    }
    
    
    ::-webkit-scrollbar-thumb:hover {
    background: rgb(196, 196, 196); 
    }
    /*** Works on common browsers ***/
    ::selection {
        background-color: #15b2e2;
        color: rgb(0, 0, 0);
    }
    
    /*** Mozilla based browsers ***/
    ::-moz-selection {
      background-color: #15b2e2;
      color: rgb(0, 0, 0);
    }
    
    /***For Other Browsers ***/
    ::-o-selection {
      background-color: #15b2e2;
      color: rgb(0, 0, 0);
    }
    
    ::-ms-selection {
      background-color: #15b2e2;
      color: rgb(0, 0, 0);
    }
    
    /*** For Webkit ***/
    ::-webkit-selection {
      background-color: #15b2e2;
      color: rgb(0, 0, 0);
    }

ul {
  padding-top: 10px;
  list-style-type: none;
}

li {
  padding: 5px;
}

li a:hover{
  text-decoration: none;
}

.navtags{
  float: right;
}

.about {
  display: block;
  align-items: center;
  /* border: solid red; */
  height: 350px;

}

.about h2{
  /* margin-top: 40px; */
  display: inline-block;
  width: 100%;
  /* height: 70%; */
  color: rgb(0, 0, 0);
  text-align: left;
  padding-left: 20px;
  align-items: left;
  font-size: 28px;
}
.about p {
  text-align: left;
  /* display: inline-block; */
  vertical-align: top;
  /* float: left; */
  /* width: 500px; */
  margin-left: 20px;
  width: 350px;
  color:black;
  /* font-family: Raleway, sans-serif; */
}
.aboutimage {
  display: inline-block;
  /* float: right;  */
  vertical-align: top;
  height: 225px;
  width: 300px;
  margin-right: 20px;
}
.aboutimage2 {
  display: inline-block;
  /* float: right;  */
  vertical-align: top;
  height: 225px;
  width: 350px;
  margin-right: 20px;
}
.vertline {
  display: inline-block;
  height: 225px;
  width: 3px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  background: -webkit-linear-gradient(left, rgba(126, 212, 255), rgb(30, 168, 202));
  background: -o-linear-gradient(left, rgba(126, 212, 255), rgba(30, 168, 202));
  background: linear-gradient(to right, rgba(126, 212, 255), rgba(30, 168, 202));
}


.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  padding: 20px 100px;
  background-color: white;
}

.contact-box{
  font-family: 'Raleway';
	/* max-width: 900px; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("a.jpg") no-repeat center;
	background-size: cover;
  height: 100%;

}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;

}
.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}
#service_h2{
  padding-left: 20px !important;
}
.switch {
  align-self: flex-end;
  margin: 0.9375rem;
}
.inner-switch {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 1.25rem;
  width: 3.125rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.1875rem;
  margin-left: 0.3125rem;
}
.dark, .dark body, .dark .contact-box,.dark .wrapper .box .front-face, .dark .wrapper .box .front-face p, .dark .wrapper, .dark .box,.dark .services .dark .container, .dark .about h2, .dark .about p, .dark .container,.dark, .dark body, .dark .contact-box,.dark .wrapper .box .front-face, .dark .wrapper .box .front-face p, .dark .wrapper, .dark .box,.dark .services .dark .container, .dark .about h2, .dark .about p, .dark .container, .dark .contact-box .right h2 {
  background-color: rgb(44, 44, 44);
    color: white;
    transition: 0.3s all;
}
.dark .container .contact-box .woo_newbugfix h2{
  color:white;
}
.dark #navbar{
  color:#fff;
}
.dark .wrapper .box .front-face h1{
  color:white;
}
.dark .container .field{
  background:rgb(214, 211, 211);
  color: black;
}
.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	/* font-size: 1.1rem; */
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}
#button{
  font-size: 12px;
  font-family: 'Raleway';
}
.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}
.bottom{
  height: 100%;
width: 100%;

}
  .bottom .left2 p{
   margin-left: 30px;
}
.col{
  display: inline-block;
  width: 32%;
  margin: 0;
}
.nav_home a{
  color:black;
}
.right, .mid, .left2{
/* width: 32%; */
display: inline-block;
color:white;
vertical-align: top;
}
.deal img{
  border: black solid 2px;
   border-radius: 20px;
}
.bottom .right{
padding-right: 120px;
}
.copyright{
  color:white;
  font-size: 20px;
}
.about-p_display{
  display: inline-block;
}
.col h2{
  vertical-align: top;
}
.col p{
  text-align: left;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

/* tablet */
@media(max-width: 900px){
  .header{
    background-image: none;
    padding: 0;
    background: #1b62ce;
  }
.vertline{
  display: none;
}
  .services{
    padding: 120px;
  }
  .service{
    padding: 20px;
    padding-left: 20px;
    text-align: center;
    margin: 20px;
    display: block;
  }
  .services h2{
    padding-right: 55px;
    padding-top: 90px;
  }
  .service p{
  width: 190px;
  }
  .bottom{
    display: none;
  }
}

/* phone */
@media(max-width: 600px){
  body{
    text-align: center;
  }
.vertline{
  display: none;
}
.header{
  background-image: none;
  padding: 0;
  background: #1b62ce;
}
.header hr{
  display: none;
}
nav{
  display: none;
}
.services{
  padding: 120px;
}
/* .service{
  padding: 20px;
  text-align: center;
  margin: 20px;
  display: block;
} */
/* .services h2{
  padding-top: 90px;
} */
.service p{
width: 190px;
}
.bottom{
  display: none;
}
}
.darkmode{
  position: fixed;
  overflow: hidden;
  /* float: right; */
  z-index: 1;
  right:0px;
  bottom: 0px;
  transition: 0.3;
}
.box .back-face{
  text-align: center;
}
.box .back-face p{
  text-align: center;
}