/* you looking here too?? */

@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);
@font-face {
  font-family: 'codropsicons';
  src: url('../fonts/codropsicons/codropsicons.eot');
  src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --blue: #01ACD6;
  --dark: rgb(51, 51, 51);
  --exdark: rgb(31, 33, 34);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
  transition: 0.1s all ease;
  font-family: 'Raleway';
  outline: none;
}

html {
  overflow-x: hidden;
}

body{
  min-height: 200vh;
}


/* nav */

nav {
  display: flex;
  align-items: center;
  padding: 3rem 10%;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(2px);
  height: 0;
  z-index: 99;
}

nav .logo {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding-bottom: 8%;
  text-decoration: none;
  outline: none;
}

nav .logo a:hover {
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 auto;
  padding-top: 1%;
  text-align: center;
  padding-right: 30px;
}

.nav-links li {
  margin: 10px 10px;
}

.nav-links li a {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  position: relative;
}

.nav-links li a:after {
  content: '';
  display: block;
  width: 0;
  bottom: 0;
  height: 1px;
  background: rgb(255, 255, 255);
  transition: width .3s;
  position: absolute;
}

.nav-links li a:hover:after {
  width: 100%;
  transition: width .3s;
}

nav .drop-btn{
  border-radius: 5px;
  line-height: 55px;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  padding: 0 20px;
}

.nav-link-more{
  font-size: 1.4rem;
  color: white;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: default;
}

.nav-link-more:hover{
  color: white;
  text-decoration: none;
}

nav .drop-btn span{
  line-height: 50px;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
}
nav .tooltip.show{
  display: block;
}
nav .wrapper-nav{
  position: absolute;
  top: 65px;
  right: 65px;
  display: flex;
  width: 400px;
  overflow: hidden;
  border-radius: 5px;
  background: #242526;
  display: none;
  transition: all 0.3s ease;
}
nav .wrapper-nav.show{
  display: flex;
}
.wrapper-nav ul{
  width: 400px;
  list-style: none;
  padding: 10px;
  transition: all 0.3s ease;
}
.wrapper-nav ul li{
  line-height: 55px;
}
.wrapper-nav ul li a{
  position: relative;
  color: #b0b3b8;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
}
.wrapper-nav ul li:hover a{
  background: #3A3B3C;
}
ul li a .icon{
  height: 40px;
  width: 40px;
  margin-right: 13px;
  background: #ffffff1a;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}
ul li a .icon span{
  line-height: 40px;
  font-size: 20px;
  color: #b0b3b8;
}
ul li a i{
  position: absolute;
  right: 10px;
  font-size: 25px;
  pointer-events: none;
}

.nerd1{
  color: inherit;
}

.wrapper-nav ul.setting-drop{
  display: none;
}

.wrapper-nav .arrow{
  padding-left: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #b0b3b8;
  cursor: pointer;
}
.wrapper-nav .arrow span{
  margin-right: 15px;
}

.sch .nav-links li a {
  color: black;
}

.sch .logo {
  color: black;
}

.sch {
  background-color: rgba(218, 213, 213, 0.13);
}

.sch li a:hover {
  text-decoration: none;
}

.sch .nav-link-more{
  color: black;
}

.sch .drop-btn span{
  color: black;
}

.sch .nav-link-more:hover{
  color: black;
}

.sch .nav-links li a:after {
  width: 0;
  height: 1px;
  background: rgb(0, 0, 0);
  transition: width .3s;
}

.sch .nav-link:hover:after {
  width: 100%;
  transition: width .3s;
}

.sch .burger .line {
  width: 25px;
  height: 2px;
  background: rgb(0, 0, 0);
  margin: 5px 0px;
  z-index: 9999;
  transition: all 0.2s ease;
}

.sch nav .logo {
  font-size: 22px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.burger {
  cursor: pointer;
  display: none;
  z-index: 999;
}

.burger .line {
  width: 25px;
  height: 2px;
  background: rgb(0, 0, 0);
  margin: 5px 0px;
  z-index: 9999;
  transition: all 0.2s ease;
}


/* header */

.header {
  background: url(img/header2.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0rem 10%;
  justify-content: left;
  transition: 0.3s all ease;
}

.header::after {
  content: '';
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255, 0));
  height: 100vh;
  width: 100%;
  position: absolute;
  display: block;
  z-index: 2;
  top: 0;
  transition: 0.3s all ease;
  left: 0;
}

.title {
  color: white;
  z-index: 3;
}

.title .title-h1 {
  font-size: 7.5rem;
  width: 1000px;
  display: flex;
  justify-content: left;
  text-align: left;
  font-family: "Poppins";
}

.title h3 {
  font-size: 2rem;
  width: 700px;
  font-weight: 500;
}

.links {
  margin-top: 30px;
  display: flex;
  position: relative;
}

.links a {
  padding: 9px 40px;
  color: black;
  transition: 0.3s all;
  background: #FFFFFF;
  border-radius: 5px;
  display: inline-block;
  margin: 0px 10px;
  font-weight: 600;
  transition: all 0.15s ease-out;
}

.links .rev {
  background: var(--blue);
  color: white;
}

.links a:nth-child(1) {
  margin: 0px 10px 0px 0px;
}

.links a:nth-child(2) {
  background: var(--blue);
  color: white;
}

/* .links li:hover {
  text-decoration: none;
  transform: translateY(-7px);
  transition: 0.5s all ease;
} */

.links li a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 75%;
  background: black;
  opacity: 0;
  transform: scaleX(0);
  transition: 0.5s all ease;
}

.links li a:hover:before{
  opacity: 1;
  transform: scaleX(0.6);
}


/* about */

#about {
  padding: 7rem 5rem;
  background-color: rgb(253, 253, 253);
}

.section-title {
  font-size: 5rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
}

.section-title::before {
  content: "";
  background: var(--blue);
  height: 7px;
  width: 60px;
  display: block;
  border-radius: 10px;
  margin-bottom: 10px;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  margin-right: 100px;
}

.about-wrapper p {
  width: 500px;
  margin-bottom: 30px;
}

.about-wrapper a {
  color: white;
  padding: 9px 30px;
  background: var(--blue);
  text-decoration: none;
  border-radius: 5px;
  transition: all .5s cubic-bezier(1,.25,0,.75) 0s;
}

.about-wrapper a:hover {
  background-color: rgb(230, 230, 230);
  color: var(--blue);
}


.about-wrapper img {
  width: 550px;
  object-fit: scale-down;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* services */

.wrapper {
  display: grid;
  margin: 100px 20px auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
}

.wrapper .box {
  width: 100%;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
}

.wrapper .box .front-face {
  background: #fff;
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
  transition: all .5s cubic-bezier(1,.25,0,.75) 0s;
}

.box .front-face h1,
.box .back-face h1 {
  font-size: 22px;
  font-weight: bolder;
  text-transform: uppercase;
}

.box .back-face {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 220px;
  width: 100%;
  padding: 30px;
  color: #fff;
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: var(--dark);
  transform: translateY(110px) rotateX(-90deg);
  box-shadow: 2px 2px 30px rgba(233, 228, 228, 0.089);
  transition: all .5s cubic-bezier(1,.25,0,.75) 0s;
}

.box .back-face p {
  margin-top: 10px;
}

.box:hover .back-face {
  opacity: 1;
  transform: rotateX(0deg);
}

.box:hover .front-face {
  opacity: 0;
  transform: translateY(-110px) rotateX(90deg);
}

.front-face {
  text-align: center;
}

.box .back-face {
  text-align: center;
}

.box .back-face p {
  text-align: center;
}

.face-btn {
  transition: all 0.5s ease;
}

.face-btn a {
  color: rgb(0, 0, 0);
  background-color: #d6d0d0;
  padding: 7px 17px;
  border-radius: 10px;
  transition: 0.9s all;
}

.face-btn:hover {
  transform: translateY(-5px);
}

.fasz {
  font-size: 32px;
}

.serv-mob {
  display: none;
}

.services-text-text{
  text-align: center;
}

.services-text-text::before{
  display: none;
  text-align: center;
}

/* faq */

#faq{
  background-color: rgb(253, 253, 253);
}

.faq-title{
  letter-spacing: 1rem;
  text-align: center;
}

.faq-title::before{
  display: none;
  visibility: hidden;
  opacity: 0;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 2rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 1rem 4rem 0.8rem 3rem;
  min-height: 6rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 3rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 3rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #797979, transparent) 1;
}

.acc-p{
  padding-top: 1%;
}


/* reviews */

#reviews {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.inner {
  max-width: 1200px;
  margin: auto;
  padding: 0 35px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review {
  padding: 30px;
  width: 340px;
  flex: 1;
}

.review p{
  
}

.review img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.names {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
  letter-spacing: 0.19909837rem;
  font-weight: 600;
}

.stars {
  color: #f7e015;
  font-size: 18px;
  margin-bottom: 20px;
}

.reviews-title::before{
  display: none;
}

.reviews-title{
  text-align: center;
}


/* Contact */

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
  background-color: rgb(253, 253, 253);
}

.contact-box {
  font-family: 'Raleway';
  /* max-width: 900px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.left {
  background: url("img/a.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  cursor: default;
  border-radius: 5px 0px 0px 5px;
}

.right {
  padding: 25px 40px;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  margin-bottom: 22px;
  transition: 0.3s all ease;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease;
}

.field:focus{
  border: 2px solid rgba(30, 85, 250, 0.47);
  transition: 0.3s all ease;
}

textarea {
  min-height: 150px;
}

textarea,
input {
  color: black;
  text-align: left;
}

.btn {
  width: 100%;
  padding: 0.7rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  /* font-size: 1.1rem; */
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .5s cubic-bezier(1,.25,0,.75) 0s;
}

.btn:hover {
  background-color: #27ae60;
}

#button {
  font-size: 12px;
  font-family: 'Raleway';
}

.field:focus {
  background-color: #fff;
}

.woo_newbugfix{
  text-align: center;
  font-size: 4rem;
}

.woo_newbugfix::before{
  display: none;
}


/* footer */

footer {
  background: #262626;
  display: flex;
  flex-direction: column;
}

.footer-section {
  padding: 50px 0px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.footer-col {
  margin: 0px 60px;
  color: white;
}

.footer-title {
  margin-bottom: 10px;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.footer-paragraph {
  width: 500px;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.7em;
}

.footer-links li {
  margin: 20px 0px;
}

.footer-links li a {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.footer-links li a:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: rgb(255, 255, 255);
  transition: width .3s;
}

.footer-links li a:hover:after {
  width: 25%;
  transition: width .3s;
}

.contact-info li {
  margin: 20px 0px;
}

.contact-info li {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.contact-info li i {
  margin-right: 10px;
  font-size: 2rem;
}

.social-media {
  display: flex;
  font-size: 15px;
  margin-top: 30px;
}

.social {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(15, 15, 15);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.social:hover {
  transform: scale(1.2);
}

.social-media a:not(:nth-child(1)) .social {
  margin-left: 20px;
}

.font{
  font-size: 17px;
}

.copyright-credits {
  padding: 25px 80px;
  background: #313131;
}

.copyright-credits-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  color: white;
  font-family: 'Montserrat';
}

.copyright-credits-container h3 {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}


/* Others */

.display_none {
  display: none;
}


::-webkit-scrollbar {
  width: 15px;
}

 ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(170, 169, 169);
  border-radius: 9px;
}

 ::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
  background: rgb(82, 81, 81);
}


/*** Works on common browsers ***/

 ::selection {
  background-color: var(--blue);
  color: rgb(0, 0, 0);
}


/*** Mozilla based browsers ***/

 ::-moz-selection {
  background-color: var(--blue);
  color: rgb(0, 0, 0);
}


/***For Other Browsers ***/

 ::-o-selection {
  background-color: var(--blue);
  color: rgb(0, 0, 0);
}

 ::-ms-selection {
  background-color: var(--blue);
  color: rgb(0, 0, 0);
}


/*** For Webkit ***/

 ::-webkit-selection {
  background-color: var(--blue);
  color: rgb(0, 0, 0);
}

.vertline {
  display: inline-block;
  height: 225px;
  width: 3px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  background: linear-gradient(to right, rgba(126, 212, 255), var(--blue));
}

.mar {
  margin: 30px;
}

.mar2 {
  margin: 300px;
}

.mar3 {
  margin: 100px;
}

.mar4 {
  margin: 10px;
}

a:hover {
  text-decoration: none;
}

img{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
noscript{
  font-size: 7rem;
  font-weight: 600;
  text-align: center;
  background-color: none;
  width: 100%;
  color: rgb(78, 74, 74);
}
