.darkmode{
  position: fixed;
  overflow: hidden;
  z-index: 1;
  right:0px;
  bottom: 0px;
  transition: 0.3s all;
}
.switch {
  align-self: flex-end;
  margin: 0.9375rem;
}
.inner-switch {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 1.25rem;
  width: 3.125rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.1875rem;
  margin-left: 0.3125rem;
}
.dark, .dark body, .dark .contact-box, .dark .about h2, .dark .about p, .dark .container,.dark, .dark body, .dark .contact-box, .dark .about h2, .dark .about p, .dark .container, .dark .contact-box .right h2 {
  background-color: var(--exdark);
  color: white;
  transition: 0.1s all ease;
}

.dark #faq{
  background: var(--exdark);
}

.dark .accordion-item{
  background: var(--dark);
  color: white;
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.25);
}

.dark #about{
  background-color: var(--exdark);
}

.dark #reviews{
  background-color: var(--exdark);
}

.dark .wrapper .box .front-face{
  background-color: var(--dark);
  transition: all .5s cubic-bezier(1,.25,0,.75) 0s;

}
.dark .back-face{
  background-color: var(--dark);
}


.dark .container .contact-box{
  box-shadow: 2px 2px 30px rgb(255 255 255 / 31%);
}

.dark .wrapper .box .front-face h1{
  color: white;
}
.dark .container .field{
  background:rgb(214, 211, 211);
  color: black;
}
.dark .nav-links li a:after{
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .3s;
}
.dark .nav-link:hover:after{
  width: 100%;
  transition: width .3s;
}
.dark .sch .logo, .dark .sch li a{
  color: rgb(255, 255, 255);
}
.dark .car-type h1, .dark .catalog-title h1, .dark .catalog-title p{
  color: white;
}

.dark .burger .line {
  width: 25px;
  height: 2px;
  background: rgb(255, 255, 255);
  margin: 5px 0px;
  z-index: 9999;
  transition: all 0.2s ease;
}

.dark .about-wrapper a:hover{
  background-color: white;
}

.dark .nav-link-more:hover{
  color: white;
}

#dark-icon{
  width: 28px;
  cursor: pointer;
  object-fit: contain;
  display: flex;
  align-items: center;
  transition: 0.3s all ease;
}


.dark .sch .fat{
  color: white;
}

.dark .header::after {
  content: '';
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.582));
  height: 100vh;
  width: 100%;
  position: absolute;
  display: block;
  z-index: 2;
  transition: 0.3s all ease;
  top: 0;
  left: 0;
}

.dark .wrapper-nav ul li a{
  color: #b0b3b8;
}