/* tablet */

@media(max-width: 900px) {
	.header {
	  padding: 0;
	  background: url(img/header2.png);
	}
	.vertline {
	  display: none;
	}

	.acc-p{
		padding-top: 2.4%;	
	}

	#services-section {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  text-align: center;
	  padding: 0;
	}
	#footer {
	  display: none;
	}
	.header {
	  text-align: center;
	  display: flex;
	  justify-content: center;
	}
	#about img {
	  display: none;
	}
  }
  
  
  /* phone */
  
  @media(max-width: 600px) {
	html,
	body {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  text-align: center;
	  min-height: 100vh;
	  margin: auto;
	  width: 100%;
	}
	.vertline {
	  display: none;
	  opacity: 0;
	  visibility: hidden;
	}
	.header {
	  padding: 0;
	  text-align: center;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 100%;
	}
	.header .links {
	  display: flex;
	  justify-content: center;
	}
	.media-center {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	  width: 100%;
	}
	footer {
	  display: none;
	  opacity: 0;
	  visibility: hidden;
	}
	.box,
	.box .front-face,
	.box .back-face {
	  display: none;
	  opacity: 0;
	  visibility: hidden;
	}
	.header .title h1 {
	  width: 90%;
	  display: flex;
	  justify-content: center;
	  text-align: center;
	  padding-left: 40px;
	}
	.header .title h3 {
	  width: 70%;
	  padding-top: 30px;
	  padding-left: 140px;
	  text-align: center;
	}
	#about {
	  display: flex;
	  text-align: center;
	  justify-content: center;
	  align-items: center;
	  margin: 0 auto;
	  width: 100%;
	  padding-left: 380px !important;
	}
	#about #about-wrapper {
	  width: 100%;
	}
	#about img {
	  display: none;
	  opacity: 0;
	  visibility: hidden;
	}
	#about #about-wrapper p {
	  text-align: center;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 0px;
	}
	#about .section-title h1 {
	  margin: 0 auto;
	  text-align: center;
	  display: flex;
	  justify-content: center;
	}
	#reviews {
	  display: block;
	}
	.serv-mob {
	  display: flex;
	  justify-content: center;
	  padding-left: 160px;
	  flex-direction: column;
	  text-align: center !important;
	  margin: 150px 0px;
	  align-items: center !important;
	  width: 500px;
	  height: 500px;
	}
	.service {
	  margin: 20px 0px;
	}
	#service_h2 {
	  padding-left: 200px;
	}
	#reviews {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  max-width: 50%;
	}
	.review p {
	  width: 390px;
	}

	.accordion-item-header{
		width: 100%;
	}
	.accordion-item-header p{
		width: 300%;
	}
  }
  
  @media(max-width: 1000px) {
	.burger {
	  display: block;
	}
	.nav-links {
	  position: fixed;
	  z-index: 98;
	  right: 0;
	  flex-direction: column;
	  width: 100vw;
	  align-items: center;
	  justify-content: center;
	  background: rgb(42, 42, 43);
	  color: rgb(255, 255, 255);
	  height: 124vh;
	  top: 6%;
	  opacity: 0;
	  transform: translateX(100%);
	  transition: all 0.5s ease;
	}
	.dark .nav-links {
	  background-color: rgb(44, 44, 44);
	  color: white;
	}
	.nav-links.active {
	  transform: translateX(0);
	  opacity: 1;
	}
	.sch .line.active {
	  background: white;
	}
	.line.active {
	  background: white;
	}
	.nav-links li {
	  margin: 20px 0px;
	}
	.one.active {
	  transform: rotate(-45deg) translate(-50%, -50%);
	}
	.two.active {
	  display: none;
	}
	.three.active {
	  transform: rotate(45deg) translate(-5px, 6px);
	}
	.bottom {
	  display: none !important;
	}
	.sch .nav-links li a {
	  color: white !important;
	}
	.nav-links li a {
	  color: white !important;
	  font-size: 27px;
	}
  }
  
  @media (max-width:768px) {
	.grid {
	  grid-template-columns: 1fr;
	}
	.wrapper {
	  display: none;
	}
	.serv-mob {
	  display: flex;
	  justify-content: center;
	  padding-left: 230px;
	  flex-direction: column;
	  text-align: center !important;
	  margin: 150px 0px;
	  align-items: center !important;
	  width: 500px;
	  height: 500px;
	}
	.service {
	  margin: 20px 0px;
	}
	footer {
	  display: none;
	}
	#about {
	  background: none;
	}
	#reviews {
	  width: 100%;
	  padding-left: 230px;
	  background: none;
	}
	.review p {
	  width: 100%;
	}
  }
  
  @media (max-width:1334px) {


	.header{
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
	}

	#about h1 {
	  text-align: center;
	  margin: 0 auto;
	}
	#about .section-title::before {
	  display: none;
	  visibility: hidden;
	  opacity: 0;
	}
	#about {
	  display: flex;
	  justify-content: center;
	  text-align: center;
	  width: 40%;
	  margin: 0 auto;
	}
	#about a {
	  display: flex;
	  justify-content: center;
	  text-align: center;
	  width: 40%;
	  margin: 0 auto;
	}
	#about img {
	  display: none;
	}
	.bottom {
	  display: none;
	}
	#faq {
	  padding-left: 230px;
	}
	#faq .accordion-item {}
  }
  
  @media screen and (max-width: 880px) {
	.container {
	  width: 100%;
	  padding-left: 340px;
	}
	.contact-box {
	  grid-template-columns: 1fr;
	}
	.left {
	  height: 200px;
	}


  }
  
  @media(max-width: 1800px) {
	.title-h1 {
	  font-size: 5rem !important;
	  width: 600px !important;
	}
	.title h3 {
	  font-size: 1.5rem !important;
	  width: 600px !important;
	}
	.footer-section {
	  width: 100%;
	}
	.copyright-credits-container {
	  width: 100%;
	}
  }
  
  @media screen and (max-width:1024px) {
	.header {
	  width: 130%;
	}
	.header::after {
	  display: none;
	}

	 .burger .line{
		background-color: white;
	}



	#about {
	  padding-left: 300px;
	}
	footer {
	  display: none;
	}
  }